<mat-sidenav-container>
    <!-- Lado esquerdo -->
    <mat-sidenav mode="side" opened fixedInViewport fixedTopGap="64">
        <mat-nav-list>
            <a mat-list-item routerLink="">
                <mat-icon class="material-icons-outlined" mat-list-icon>home</mat-icon>
            <span>Home</span>
        </a>
        <a mat-list-item routerLink="/carro/cadastrar">
            <mat-icon class="material-icons-outlined" mat-list-icon>directions_car</mat-icon>
        <span>Cadastrar Carro</span>
    </a>         
        </mat-nav-list>
    </mat-sidenav>
    <!-- Lado direito -->
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>


